body {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

button{
    cursor: pointer;
}

li{
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

li>span{
    margin-right: 25px;
}

li>button{
    border: none;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}

li>button:hover{
    opacity: 1;
    transition: opacity 1s;
}

ul{
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
}

.title{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 5em;
    text-shadow: 3px 5px #000;
}

.text-center{
    text-align: center;
}

.button{
    background-color: #000;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

#modal {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.39);
}

#modal button{
    margin: 10px 5px 5px 10px;
}

input{
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
}

.danger{
    color: #ff0000;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

